body {
    margin: 20px;
    padding: 20px;
    font-size: 11pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1;
    background-image: url('silverware.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    color: #404040;
}


h1,
h3 {
    color: #A4A400;
    background-color: #F0F0F0;
    text-decoration: underline;
    font-family: Lucida Sans Unicode, Helvetica, Arial, or any sans-serif;
}

#page_title {
    font-size: 22pt;
    text-align: center;
}

.cancled_word {
    text-decoration: line-through;
}

#recipe_1 {
    list-style: none;
}

.comment {
    background-color: rgba(255, 255, 0, 0.356);
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
}

/* ul {
    list-style-image: url('pie_icon.gif'); 
}
*/

#copy_text {
    margin-left: -8em;
}

.right {
    text-align: right;

}

.sub-title {
    color: #A4A400;
}